<div class="col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>
        <%= @job.title %>
      </h2>
    </div>
    <div class="panel-body">
      <p><%= simple_format(@job.description) %></p>
    </div>
    <div class="panel-footer">
      <div class="text-center">
        <%= link_to("POST YOUR RESUME", new_job_resume_path(@job), :style => "font-size: 25px; text-decoration:none; letter-spacing: -1.5px; font-weight: 600;") %>
      </div>
    </div>
  </div>
</div>
